<head>
    <link href="~/css/landing.css" rel="stylesheet" />
</head>
@{
    ViewData["Title"] = "Thanks";
}
    <div class="padding">

    </div>
    <div class="container" style="padding: 4px 7px 2px 4px;">
        <h1 class="text-lg-center">Thank you!</h1>
        <p class="text-md-center">Your story has been submitted to our team! We appreciate your feedback.</p>
    </div>
<div class="padding">

</div>


