
@{
    ViewData["Title"] = "About";
}

    <div class="jumbotron text-center">
        <h1 class="text-lg-center">Who we are</h1>
        <p class="lead text-center">We enable companies to provide better customer interaction, to deliver and empower them to have an efficient and simple experience.</p>
        
    </div>
<div class="row">
    <div class="col-md-4">
            
            <img src="~/css/Luke.jpg" style="width:370px;height:400px;"/>
    </div>
    <div class="col-md-8 text-center">
        <h3>Luke Schweighart</h3>
        <p>Hi my name is Luke. I am a "job title" from Lynchburg, Virgnia. Which experience working in Liberty 
        University's IT Department, I fell in love with the process of helping companies utilize technology to 
        upscale their businesses. more...</p>
    </div>
</div>
